@font-face {
    font-family: 'Oswald';
    src: url('../../../assets/fonts/New folder/Oswald-VariableFont_wght.ttf') format('woff2'), /* replace with your actual file name and format */
         /* url('./oswald-regular.woff') format('woff'); */
  
  }

  @font-face {
    font-family: 'sans';
    src: url('../../../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf');
  }


.footerBg
{
    background-color: #074D63;
}
.logo1
{
    width: 210px;
    height: 82px;
    padding: 10px !important;
}

.logo2
{
    width: 247px;
    height: 90px;
}
.card
{
    width: 210px !important;
}
.containerCard
{
    width: 80%;
}
.heading
{
    font-size: 20px;
    color:#FFF6E1;
    font-weight: bold;
    line-height: 1.41em;
   font-family:  normal normal bold 16px/1.4em quicksand,sans-serif;
   padding: 10px !important;
}

li
{
    color: #FFF6E1;
    line-height: 1.875em;
    font-size: 14px;
    font-family: normal normal normal 14px/1.4em quicksand,sans-serif;
    list-style: none;

    padding: 10px !important;
}
.copyRight
{
    color: #FFF6E1;
    line-height: 1.875em;
    font-size: 16px;
    font-family: normal normal normal 14px/1.4em quicksand,sans-serif;
    list-style: none;

    padding: 10px !important;
}
.social
{
    padding: 10px!important;
    margin: 10px !important;
}