<footer class="footerBg pt-5">
    <div class="container-fluid  d-flex justify-content-center  ">
      <div class="containerCard ">
        <div class="row ">
            <div class="col-md-3">
              <div>
                <h2 class="heading text-start">About </h2>

                <div>
                    <ul class="text-start">
                        <li>• UNCCD COP16 Presidency</li>
                        <li>• Advisory Committee</li>
                        <li>• Thematic Program</li>
                        <li>• Sustainability Policy</li>
                        <li>• Letter to Partiesidency</li>

                    </ul>
              </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    



                  <h2 class="heading text-start">Initiatives
  
                  </h2>
  
                  <div>
                      <ul class="text-start">
                          <li>• Saudi Green Initiative</li>
                          <li>• Middle East Green Initiative</li>
                          <li>• G20 Land Initiative</li>
                          <li>• Vision 2030</li>
  
                      </ul>
                </div>
                  </div>
              </div>
              <div class="col-md-3">
                
                <div class="text-start ">
                  <h2 class="heading  text-start">Contact us
  
                  </h2>
  
                  <div>
                      <ul class="text-start">
                          <li > • Live Chat Support</li>
                          <li > • Department Contacts:</li>
                          <li > •  Registration</li>
                          <li > • Sponsorship</li>
                          <li > • Exhibitions</li>
  
                      </ul>
                </div>
                  </div>
              </div>
              <div class="col-md-3 ">
                <div class="w-100 h-100  card4 ">
                  <div class="logo1">
                    <img src="../../../assets/images/footer/logo2.png" class="w-100" alt="footer image">
                </div>
                    <div class="logo1">
                        <img src="../../../assets/images/footer/logo1.png" class="w-100" alt="footer image">
                    </div>
                  

                    <div class="social w-100 ">

                        <img src="../../../assets/images/footer/fi_1384012.png"  alt="social">
                        <img src="../../../assets/images/footer/fi_1384014.png" alt="social">

                        <img src="../../../assets/images/footer/fi_2175193.png" alt="social">
                        <img src="../../../assets/images/footer/fi_2175198.png" alt="social">
                        <img src="../../../assets/images/footer/fi_5969020.png" alt="social">

                    </div>
                  </div>
              </div>


              <div class="text-start copyRight">
                © 2024 All rights reserved  Privacy Policy | Authorization Letter | Letter to Parties
              </div>
        </div>
      </div>
    </div>
</footer>