<section class=" bgImage position-relative pb-5">
    
    <div class=" d-flex justify-content-center">
        <div class="container-fluid ">
            <div class="w-100 pt-5 pb-5">
             <div class="d-flex justify-content-center">
              <div class="containerOfCard">
                <div class="col-md-4 d-flex justify-content-start ps-5">
                </div>
                <h2 class="heading ps-5">Plan Your Visit.</h2>
              </div>
             </div>
            </div>
            <div class="w-100 d-flex justify-content-center">
              <div class="row  containerOfCard">
                
                <div class="col-md-4 d-flex justify-content-end  mb-4">
                  <div class="card text-center">
                    <div class="image  pt-2 pb-1">
                      <img src="../../../assets/images/plan section/1.jpg" alt="plan">
                    </div>
                    <div class="mt-auto mb-auto">
                    <h3 class="headinfOfText">Visa Information</h3>
  
                    </div>
  
                    <div class="mt-auto d-flex justify-content-center align-items-centerx` btnOfCard">
                      <button class="test">More Info <i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
  
                <div class="col-md-4 d-flex justify-content-center  mb-4 ">
                  <div class="card text-center">
                    <div class="image  pt-2 pb-1">
                      <img src="../../../assets/images/plan section/2.jpg" alt="plan">
                    </div>
                    <div class="mt-auto mb-auto">
                    <h3 class="headinfOfText">Accommodation</h3>
  
                    </div>
  
                    <div class="mt-auto d-flex justify-content-center align-items-center btnOfCard">
                      <button class="test">More Info <i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
  
  
  
                <div class="col-md-4 d-flex justify-content-start mb-4">
                  <div class="card text-center">
                    <div class="image  pt-2 pb-1">
                      <img src="../../../assets/images/plan section/3.jpg" alt="plan">
                    </div>
                    <div class="mt-auto mb-auto">
                    <h3 class="headinfOfText">Virtual Tour</h3>
  
                    </div>
  
                    <div class="mt-auto d-flex justify-content-center align-items-center btnOfCard">
                      <button class="test">More Info <i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
  
  
                <div class="col-md-4 d-flex justify-content-end ">
                  <div class="card text-center">
                    <div class="image  pt-2 pb-1">
                      <img src="../../../assets/images/plan section/4.jpeg" alt="plan">
                    </div>
                    <div class="mt-auto mb-auto">
                    <h3 class="headinfOfText">Transportation</h3>
  
                    </div>
  
                    <div class="mt-auto d-flex justify-content-center align-items-center btnOfCard">
                      <button class="test">More Info <i class="fa-solid fa-arrow-right"></i> </button>
                    </div>
                  </div>
                </div>
  
  
                <div class="col-md-4 d-flex justify-content-center ">
                  <div class="card text-center">
                    <div class="image  pt-2 pb-1">
                      <img src="../../../assets/images/plan section/5.jpg" alt="plan">
                    </div>
                    <div class="mt-auto mb-auto">
                    <h3 class="headinfOfText">Local Attraction</h3>
  
                    </div>
  
                    <div class="mt-auto d-flex justify-content-center align-items-center btnOfCard">
                      <button class="test">More Info <i class="fa-solid fa-arrow-right"></i> </button>
                    </div>
                  </div>
                </div>
           
                 
      
                  
              </div>
            </div>
        </div>
    </div>
  
</section>