<section class="d-flex justify-content-center align-items-center">

    <div class="container ">
      <div class="w-100  d-flex justify-content-center align-items-center">
        <div class="p-2 heading   w-50">
            <div class="  d-flex justify-content-between align-items-center ">
                <h2>Step 3: Entity's Contact Details</h2>
                <span class="icon">
                    
                    <i class="fa-solid fa-xmark"></i>
                </span>
                
            </div>
    
            <div class="pt-2 ">
                <h6>3 Of 3 </h6>
            </div>
          </div>
      </div>
        <br>
        <div class="row justify-content-center ">
            <div class="w-50">
                <div class="w-100  brdrBtm">
                
               <div class="">
               <span class="headOfSocial">Social media accounts/pages</span>
               </div>
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-2 ">
                            <div class="p-2 ">
                                <h4>LinkedIn</h4>
                            </div>
                      
                         </div>
    
                         <div class="col-md-10 ">
                            <div class="p-2">
                                <input type="text"   class="form-control inputDesign"   >
                              </div>

                         </div>
    
                 
                    
                    </div>

                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-2 ">
                            <div class="p-2 ">
                                <h4>Twitter (X)</h4>
                            </div>
                      
                         </div>
    
                         <div class="col-md-10 ">
                            <div class="p-2">
                                <input type="text"   class="form-control inputDesign"   >
                              </div>

                         </div>
    
                 
                    
                    </div>


                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-2 ">
                            <div class="p-2 ">
                                <h4>Facebook</h4>
                            </div>
                      
                         </div>
    
                         <div class="col-md-10 ">
                            <div class="p-2">
                                <input type="text"   class="form-control inputDesign"   >
                              </div>

                         </div>
    
                 
                    
                    </div>


                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-2 ">
                            <div class="p-2 ">
                                <h4>Instgram</h4>
                            </div>
                      
                         </div>
    
                         <div class="col-md-10 ">
                            <div class="p-2">
                                <input type="text"   class="form-control inputDesign"   >
                              </div>

                         </div>
    
                 
                    
                    </div>


                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-md-2 ">
                            <div class="p-2 ">
                                <h4>Youtube</h4>
                            </div>
                      
                         </div>
    
                         <div class="col-md-10 ">
                            <div class="p-2">
                                <input type="text"   class="form-control inputDesign"   >
                              </div>

                         </div>
    
                 
                    
                    </div>

                    <!-- inputs after social -->

                    <div class="row mt-5">
                        
                        <div class="col-md-6 ">
                            <div class="p-2">
                                <label for="Entity">Entity's Official website *</label>
                                <input type="text"  class="form-control inputDesign"  id="Entity" >
                              </div>
    
                       
                             
                         
                         </div>
    
                            
                         <div class="col-md-6 ">
                            <div class="p-2">
                                <label for="OfficialEmail">Entity's Official Email *</label>
                                <input type="email"  accept="png" class="form-control inputDesign"  id="OfficialEmail" >
                              </div>
    
                       
                             
                         
                         </div>
                    </div>

                    <div class="row">
                        
                        <div class="col-md-6 ">
                            <div class="p-2">
                                <label for="focal">Entity's focal point name *</label>
                                <input type="text"  class="form-control inputDesign"  id="focal" >
                              </div>
    
                       
                             
                         
                         </div>
    
                            
                         <div class="col-md-6 ">
                            <div class="p-2">
                                <label for="point">Focal point title/position *</label>
                                <input type="text" class="form-control inputDesign"  id="point" >
                              </div>
    
                       
                             
                         
                         </div>
                    </div>

                    <div class="row">
                        
                        <div class="col-md-6 ">
                            <div class="p-2">
                                <label for="mobile">Focal point mobile *</label>
                                <input type="text" placeholder="(000) 000-000"  class="form-control inputDesign"  id="mobile" >
                              </div>
    
                       
                             
                         
                         </div>
    
                            
                         <div class="col-md-6 ">
                            <div class="p-2">
                                <label for="email">Focal point email *</label>
                                <input type="email" class="form-control inputDesign"  id="email" >
                              </div>
    
                       
                             
                         
                         </div>
                    </div>


                    
    
    <!-- text Area -->
                    <div class="row mt-5">
                        <div class="col-md-12 ">
                            <div class="p-2 ">
                                <label for="Brief">Are there any specific requests?</label>
                                <div class="form-floating">
                                    <textarea class="form-control txtArea" placeholder="Leave a comment here" id="Brief" style="height: 100px"></textarea>
                                  </div>
                            </div>
                      
                         </div>
    
                    
                    
                    </div>
    
    
                   
    
                

                    
    
    
            
    

                </div>
    
                <div class=" d-flex justify-content-between  align-items-center btnContainerBrdr">
                    <button class="btnBackDesign">Back</button>
    
                    <button class="btnDesign">Submit</button>
                </div>
            </div>
          
        </div>
    </div>
</section>