<section class="bgOfSecrion ">
   <div class="row">
    <div class="col-md-12">
        <div class="row ">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="w-50 h-100   ">
                    <h2 class="pt-5 headinfOfSection">The Road to Riyadh</h2>
    
                    <p class="pt-5">Various events and debates will help build the momentum for consensus building, bold decisions, and hard commitments to be reached at CoP 16 in Riyadh. They include:</p>
                    <p class="pt-5"><span>KSA Side Event at the <a target="_blank" href="#https://www.unccd.int/events/governing-bodies-meetings/unccd-committee-review-implementation-convention-cric21">UNCCD CRIC 2023</a></span>
    
                        UNCCD Committee for the Review of the Implementation of the Convention CRIC21</p>
    
                        <p class="pt-5"><span>KSA pavilion at <a target="_blank" href="#https://www.cop28.com/en/">COP 28 in Dubai</a></span>
    
                            COP28 UAE brings the world together at a critical moment for global transformative climate action. To deliver on its ambitious agenda, COP28 will be inclusive, transparent, pragmatic, and results-oriented.</p>
                
    
                            <p class="pt-5 pb-5"><span>KSA Side Event in Davos at the <a target="_blank" href="#https://www.weforum.org/events/world-economic-forum-annual-meeting-2024/">World Economic Forum 2024</a></span> 
    
                                The 54th Annual Meeting of the World Economic Forum will primarily focus on exploring the opportunities enabled by the new technologies and their implications on decision-making and global partnership.</p>
                </div>
            </div>
            <div class="col-md-6 imageBG">
                <!-- <div class="w-100 h-100 imageScroll">
                    <img src="../../../assets/images/road section/c4b02c_edd1adffde414d4fa0572feacf39acf5~mv2.jpg" class="w-100 height" alt="road To Riyadh">
                </div> -->
            </div>
        </div>
    </div>
   </div>
   
</section>