<section class="d-flex justify-content-center align-items-center">

    <div class="container ">
      <div class="w-100 d-flex justify-content-center align-items-center">
        <div class="p-2 heading text-center  w-50">
            <div class="  d-flex justify-content-between align-items-center ">
                <h2>Registration At Riyadh COP16 </h2>
                <span class="icon">
                    
                    <i class="fa-solid fa-xmark"></i>
                </span>
                
            </div>
    
            <div class="pt-2 ">
                <h6>Please Fill the upcoming info </h6>
            </div>
          </div>
      </div>
        <br>
        <div class="row justify-content-center ">
            <div class="w-50 ">
                
                <hr>
                <br>
                <div class="row ">
                    <div class="col-md-6 ">
                       <div class="p-2 ">
                        <label for="title">title *</label>
                        <select id="title" class="form-select inputSelect " aria-label="Default select example">
                            <option selected>Please Select</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                       </div>
                 
                    </div>

                    <div class="col-md-6 ">
                        <div class="p-2">
                        <label for="fullName">full Name *</label>

                            <input id="fullName" type="email" class="form-control  inputDesign"  >
                          </div>

                   

                     
                     </div>
                
                </div>


                <div class="row ">
                    <div class="col-md-6 ">
                        <div class="p-2">
                            <label for="phoneNum">Phone Number *</label>
                            <input type="email" class="form-control  inputDesign" id="phoneNum" placeholder="e.g., 23">
                          </div>

                   

                     
                     </div>

                    <div class="col-md-6 ">
                        <div class="p-2">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control inputDesign inputDesign" id="email" placeholder="name@example.com">
                          </div>

                   

                     
                     </div>
                
                </div>


                <div class="row ">
                    <div class="col-md-6 ">
                        <div class="p-2">
                            <label for="JobTitle">Job Title/ Position *</label>
                            <input type="email" class="form-control inputDesign" id="JobTitle" >
                          </div>

                   

                     
                     </div>
                    
                    <div class="col-md-6 ">
                       <div class="p-2">
                        <label for="qualification">Qualification *</label>
                        <select id="qualification" class="form-select inputSelect inputSelect" aria-label="Default select example">
                            <option selected>Please Select</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                       </div>
                 
                    </div>

                
                
                </div>


                <div class="row ">
                    <div class="col-md-6 ">
                       <div class="p-2">
                        <label for="residence">Residence *</label>
                        <select id="residence" class="form-select inputSelect " aria-label="Default select example">
                            <option selected>Please Select</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                       </div>
                 
                    </div>

                    <div class="col-md-6 ">
                        <div class="p-2">
                            <label for="nationality">Nationality *</label>
                         <select id="nationality" class="form-select inputSelect " aria-label="Default select example">
                             <option selected>Please Select</option>
                             <option value="1">One</option>
                             <option value="2">Two</option>
                             <option value="3">Three</option>
                           </select>
                        </div>
                  
                     </div>
                
                </div>




                <div class="row ">
                 

                    <div class="col-md-6 ">
                        <div class="p-2">
                            <label for="organizationName">Organization Name *</label>
                            <input id="organizationName" type="email" class="form-control inputDesign" id="exampleFormControlInput1" placeholder="name@example.com">
                          </div>

                   

                     
                     </div>

                     <div class="col-md-6 ">
                        <div class="p-2">
                            <label for="organizationCategory">Organization Category *</label>
                         <select id="organizationCategory" class="form-select inputSelect " aria-label="Default select example">
                             <option selected>Please Select</option>
                             <option value="1">One</option>
                             <option value="2">Two</option>
                             <option value="3">Three</option>


                           </select>
                        </div>
                  
                     </div>
                
                </div>
<br>
<hr>
<br>
                <div class=" d-flex justify-content-center align-items-center ">
                    <button class="btnDesign">Submit</button>
                </div>
                





            </div>
        </div>
    </div>
</section>