<section class="vh-100 bgOfSection text-center text-white d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <div class="containerOfText">
                <div class="w-100">
                    <h2 class="headingOfSection ">Exhibitors</h2>
                    <p class="pOfSection ">
                        Open to public for exploring land related exhibitions on innovative technologies, networking, restoration efforts and inclusive activities for all segments of society. Please register in Green Zone here.
                    </p>
                </div>
                <div class="btnDivStyle">
                    <button class="btnStyle mt-5">register <span>></span></button>
                </div>
               </div>
            </div>
        </div>
    </div>
</section>