<section class=" bgOfSection">
   
    <div class="container  pt-5 mt-5">
    
        <div class="row mt-5  justify-content-end align-items-center ">
          <div class=" col-md-10">
            <h2 class=" headingOfSection">Saudi Arabia Efforts</h2>
    
        </div>
            <div class="col-md-10  mb-4" >
                <div class="row ">
                  <div class="col-md-6 ">
                    <div class=" w-100 h-100 p-2">
                      <div class=" w-100 h-100">
                         <img src="../../../assets/images/efforts Section/1.webp" class="sectionWidth "  alt="events">
                      </div>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="p-2 bg-dark alignCardInfo h-100">
                           <h3 class="headingOfText ">Vision 2030</h3>
                       <div class="">
                          <p class="pOfText pt-3 pb-3">
                            <span class="pOfSection">
                              The Vision 2030 was unveiled in 2016 and is a long-term strategy to diversify the economy and move towards a low-carbon future. This vision is a proactive decision made by the Saudi government to tackle climate change head-on and improve people's lives inside and outside the country’s boundaries.
                            </span>

                           
                          </p>

                          <p>
                            <span class="pOfSection ">
                              Following the launch of Vision 2030 in 2016, the Kingdom of Saudi Arabia has taken decisive steps towards a more sustainable future. Multiple major projects have been launched as part of the Vision 2030 including the Red Sea Project and NEOM which aim to foster a regenerative approach to our land, harmonizing with nature as the country grows and develops.
                            </span>
                          </p>
                       </div>

                          <div class="mt-auto">
                            <a href="#https://riyadhexpo2030.sa/" class="goAnchor">Read More...</a>
                          </div>
                         
                        
                        </div>
                          
                       </div>
           
                      
                </div>
            </div>


            <div class="col-md-10  mb-4" >
              <div class="row  justify-content-between imagePos" >
                <div class="col-md-6 ">
                  <div class=" p-2 h-100">
                    <div class="d-flex justify-content-end bg- w-100 h-100">
                       <img src="../../../assets/images/efforts Section/2.jpg" class="sectionWidth "  alt="events">
                    </div>
                  </div>
              </div>
                  <div class="col-md-6 ">
                      <div class="p-2 alignCardInfo h-100">
                         <h3 class="headingOfText ">G20 Global Land Initiative
                        </h3>
                     <div>
                      <p class="pOfText pt-3 pb-3">
                          <span class="pOfSection">
                            The G20 Global Initiative on Reducing Land Degradation and Enhancing Conservation of Terrestrial Habitats which was launched in November 2020, at the Riyadh Summit of the G20 leaders. The ambition of this Global Initiative is to prevent, halt and reverse land degradation and reduce degraded land by 50 per cent by 2040. Both a strategy and work plan have been developed and are under active implementation for this Initiative.
                          </span>

                         
                        </p>

                     
                     </div>

                        <div class="mt-auto">
                          <a href="#https://riyadhexpo2030.sa/" class="goAnchor">Read More...</a>
                        </div>
                       
                      
                      </div>
                        
                     </div>
         
                    
              </div>
          </div>




          <div class="col-md-10  mb-4" >
            <div class="row justify-content-between">
              <div class="col-md-6 ">
                <div class=" p-2 h-100">
                  <div class="d-flex justify-content-end bg- w-100 h-100">
                     <img src="../../../assets/images/efforts Section/3.jpg" class="sectionWidth "  alt="events">
                  </div>
                </div>
            </div>
                <div class="col-md-6 ">
                    <div class="p-2 alignCardInfo h-100 ">
                       <h3 class="headingOfText ">Saudi Green Initiative
                      </h3>
                   <div>
                    <p class="pOfText pt-3 pb-3">
                        <span class="pOfSection">
                          Inaugurated in 2021, the Saudi Green Initiative (SGI) unites environmental protection, energy transition and sustainability programs with the overarching aims of offsetting and reducing emissions, increasing the Kingdom’s use of clean energy and addressing climate change.                        </span>

                       
                      </p>

                      <p>
                        <span class="pOfSection ">
                          As part of SGI, the country has set an ambitious but achievable greening aspiration to grow 10 billion trees in the coming decades, the equivalent to rehabilitating ~40 Mn ha of degraded lands. This ambition is amongst the highest globally while facing challenging natural conditions.                        </span>
                      </p>
                   </div>

                      <div class="mt-auto">
                        <a href="#https://riyadhexpo2030.sa/" class="goAnchor">Read More...</a>
                      </div>
                     
                    
                    </div>
                      
                   </div>
       
                  
            </div>
        </div>




        <div class="col-md-10  mb-4" >
          <div class="row justify-content-between imagePos" >
            <div class="col-md-6 ">
              <div class=" p-2  h-100">
                <div class="d-flex justify-content-end bg- w-100 h-100">
                   <img src="../../../assets/images/efforts Section/4.png" class="sectionWidth "  alt="events">
                </div>
              </div>
          </div>
              <div class="col-md-6  ">
                  <div class="p-2 alignCardInfo h-100 ">
                     <h3 class="headingOfText ">Middle East Green Initiative
                    </h3>
                 <div>
                  <p class="pOfText pt-3 pb-3">
                      <span class="pOfSection">
                        The Middle East Green Initiative, launched in 2021 by HRH Crown Prince and Prime Minister Mohammed bin Salman, intends to deliver the largest reforestation outcome in the world, which would significantly contribute to achieving the emissions reduction targets under the Paris Agreement and saving biological diversity that is being lost, in an approach known as achieving Land Degradation Neutrality (LDN).                      </span>

                     
                    </p>

                    <p>
                      <span class="pOfSection ">
                        The Middle East Green Initiative is aiming to increase cooperation and efforts in the region to restore 200 million hectares of degraded land, plant 50 billion trees and increase its vegetation cover by 12 times. The activities will help to reduce 2.5% of the global gas emissions heating up the earth, including the reduction and removal of 670 million tons of carbon dioxide equivalent, which is the total amount of nationally determined contributions of all countries of the region.                      </span>
                    </p>
                 </div>

                    <div class="mt-auto">
                      <a href="#https://riyadhexpo2030.sa/" class="goAnchor">Read More...</a>
                    </div>
                   
                  
                  </div>
                    
                 </div>
     
                
          </div>
      </div>



      <div class="col-md-10  mb-4" >
        <div class="row justify-content-between">
          <div class="col-md-6 ">
            <div class=" p-2 h-100">
              <div class="d-flex justify-content-end bg- w-100 h-100">
                 <img src="../../../assets/images/efforts Section/5.jpg" class="sectionWidth "  alt="events">
              </div>
            </div>
        </div>
            <div class="col-md-6 ">
                <div class="p-2 alignCardInfo h-100 ">
                   <h3 class="headingOfText ">National Center for Vegetation Cover & Combating Desertification NCVC</h3>
               <div>
                <p class="pOfText pt-3 pb-3">
                    <span class="pOfSection">
                      The National Center for Vegetation Cover and Combating Desertification was established in 2019 with the aim of increasing green areas to combat desertification and rehabilitating degraded ecosystems. NCVC oversees the sustainable management and conservation for natural vegetation that exists in mountain forests, watersheds, mangroves, rangelands, national parks and also implements integrated projects to combat desertification. NCVC is also leading the planning of the 10 Billion Trees program under the Saudi Green Initiative                    </span>

                   
                  </p>

                 
               </div>

                  <div class="mt-auto">
                    <a href="#https://riyadhexpo2030.sa/" class="goAnchor">Read More...</a>
                  </div>
                 
                
                </div>
                  
               </div>
   
              
        </div>
    </div>



        </div>
    </div>
</section>



